<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">NOSSA MISSÃO</h2>
      <p class="flow-text">Ser instrumento de transformação do ecossistema empreendedor de Juiz de Fora através do fortalecimento do Movimento Empresa Júnior</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="center">
      <div class="lt-row row">
        <div class="lt-col col s12">
          <h2 class="lt-title">NOSSA VISÃO</h2>
          <p class="flow-text">Ser um núcleo destaque em representatividade e resultados.</p>
        </div>
      </div>

  <div class="lt-vertical-spacer"></div>

  <div class="center">
      <div class="lt-row row">
        <div class="lt-col col s12">
          <h2 class="lt-title">NOSSOS VALORES</h2>
        </div>
      </div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large material-icons primary-color-text">favorite</i>
      <h5>Orgulho de ser MEJ</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large material-icons primary-color-text">share</i>
      <h5>Sinergia</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large material-icons primary-color-text">visibility</i>
      <h5>Trasparência</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>

<div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large material-icons primary-color-text">check_circle</i>
      <h5>Compromisso</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large material-icons primary-color-text">flash_on</i>
      <h5>Agilidade</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    
    </div>
    <div class="lt-col col m4 s12">
      <i class="large material-icons primary-color-text">whatshot</i>
      <h5>Intensidade</h5>
      <p>NOIS É DOIDO</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Nosso Time</h2>
      <p class="flow-text">Conheça aqueles que fazem tudo acontecer</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/liga/direx.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/liga/dco.jpg'|theme }}">
    </div>
  </div>

  <div class="hide-on-small-only" style="height: 20px;"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/liga/dde.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/liga/dvp.jpg'|theme }}">
    </div>
  </div>
</div>
