<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">A Liga em números</h2>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <h7>600</h7>
      <h5>Empresários Juniores</h5>
    </div>
    <div class="lt-col col m4 s12">
      <h7>530</h7>
      <h5>Projetos em 2018</h5>
     
    </div>
    <div class="lt-col col m4 s12">
      <h7>1.2M</h7>
      <h5>Investidos na educação empreendedora de Juiz de Fora</h5>
      
    </div>
  </div>
</div>
