<div class="lt-navbar navbar-fixed">
  <nav class="lt-no-background">
    <div class="nav-wrapper">
      <div class="lt-container container">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">
          <img src="{{ 'assets/img/liga/logoBranca.png'|theme }}" alt="logo" style="width: 190px; margin-top:10px;"/>
        </a>
        <a href="#" data-activates="mobile-menu" class="lt-mobile-toggle button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">HOME</a></li>
          <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">LIGA</a></li>
          <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">EMPRESAS JUNIORES</a></li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">PROGRAMAS</a></li>
          <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">BLOG</a></li>
          <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'contact'|page }}">CONTATO</a></li> 
        </ul>
        <ul class="side-nav" id="mobile-menu">
            <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">HOME</a></li>
            <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">LIGA</a></li>
            <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">EMPRESAS JUNIORES</a></li>
            <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">PROGRAMAS</a></li>
            <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">BLOG</a></li>
            <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'contact'|page }}">CONTATO</a></li> 
        </ul>
      </div>
    </div>
  </nav>
</div>
